body {
    margin: auto;
    width: 80%;
    font-family: Arial;
}
h1 {
    text-align: center;
}

.float-container {
    padding: 20px;
}

#electoralCollegeMap {
    float: left;
    width: 700px;
    padding: 20px;
}
.electoralCollegeText {
    float: right;
    width: 400px;
    padding: 20px;
}
#electoralCollegePadding {
    float: right;
    height: 300px;
    width: 400px;
}

#popularVoteHeader {
    padding-left: 385px;
}
#popularVoteChart {
    float: left;
    height: 200px;
    width: 700px;
}
.popularVoteText {
    float: right;
    height: 100px;
    width: 400px;
}
#popularVotePadding {
    float: right;
    height: 100px;
    width: 200px;
}

#countyVoteHeader {
    padding-top: 200px;
}
#countyVoteMap {
    float: left;
    height: 500px;
    width: 750px;
}
#countyVoteText {
    float: right;
    height: 460px;
    width: 400px;
}
#countyVotePadding {
    float: right;
    height: 340px;
    width: 400px;
}

#statePopulationHeader {
    padding-top: 200px;
    padding-left: 250px;
}
.statePopulationText {
    height: 45px;
}
#statePopulationBar {
    float: center;
    height: 20px;
}
#statePopulationMap {
    float: center;
    height: 400px;
    padding: 20px;
}

.trump {
    color: #DE0100;
    font-weight: bold;
}
.biden {
    color: #1405BD;
    font-weight: bold;
}